$body-bg-color: #21232e;
$header-bg: url("..//img/m-h-night.jpg");
$button-color: #e3ac00;
$text-color: #fff;
$highlight-color: #ff4e33;
$card-text-ff: 'Fresca', sans-serif;
$section-card-bg: #3b3f50;
$gradient-color-right:  #95314f;
$font: 'Fresca', sans-serif;
