$body-bg-color: #fff;
$header-bg: url("../img/m-h-day.jpg");
$button-color: #699900;
$text-color: #2c2f3c;;
$highlight-color: #14a0c7;
$card-text-ff: 'Hind', sans-serif;
$section-card-bg: #21232e;
$gradient-color-right:  #2d5bd7;
$font: 'Hind', sans-serif;




